<%-include('./confing/header')%>

<p id="msg" class="h3 p-2">RGBを設定：</p>
<div class="form-group">
    <label for="R">R</label>
    <input type="range" id="R" min="0" max="255" class="form-control-range" oninput="action()">
</div>
<div class="form-group">
    <label for="G">G</label>
    <input type="range" id="G" min="0" max="255" class="form-control-range" oninput="action()">
</div>
<div class="form-group">
    <label for="B">B</label>
    <input type="range" id="B" min="0" max="255" class="form-control-range" oninput="action()">
</div>
    
<script>
    function action(){
        let R = Number($('#R').val());
        let G = Number($('#G').val());
        let B = Number($('#B').val());
        let color = R + ',' + G + ',' + B;
        let msg = document.querySelector('#msg');
        msg.style.backgroundColor = 'rgb(' + color + ')';
        let value = R + G + B; 
        if(value>360){
            msg.style.color = 'black';
        }else{
            msg.style.color = 'white';
        }
        msg.textContent = '[' + color + ']';
    }

    action();
</script>


<%-include('./confing/footer')%>