<%-include('./confing/header')%>


<div id="upday" style="margin: 20px;" >
    <div id="s1">
        <h6>厚生労働省・療養状況等及び入院患者受入病床数等に関する調査について(https://www.mhlw.go.jp/stf/seisakunitsuite/newpage_00023.html)</h6>
    </div>
    <div id="s2">
        <h6>政府CIOポータル・新型コロナワクチンの接種状況（一般接種（高齢者含む））(https://cio.go.jp/c19vaccine_dashboard)</h6>
    </div>
    <div id="s3">
        <h6>総務省・住民基本台帳に基づく人口、人口動態及び世帯数(https://www.soumu.go.jp/main_sosiki/jichi_gyousei/daityo/jinkou_jinkoudoutai-setaisuu.html)</h6>
    </div>
</div>


<%-include('./confing/footer')%>