<%-include('../confing/header')%>

<!-- グラフ -->
<div class="wrapper" style="height: 80%; width: 80%;">
    <canvas id="chart2" width="150" height="100" ></canvas>
</div>

<p class="h5">条件別</p>
<div class="form-group">
<input type="radio" name="select" value="hidegraph" checked>なし　　
<input type="radio" name="select" value="gender">性別　　
<input type="radio" name="select" value="age">年齢　　
<input type="radio" name="select" value="prefecture">県別（県名を選択）
<select name="prefec" id="prefec">
    <option value="01">北海道</option><option value="02">青森県</option><option value="03">岩手県</option><option value="04">宮城県</option><option value="05">秋田県</option>
    <option value="06">山形県</option><option value="07">福島県</option><option value="08">茨城県</option><option value="09">栃木県</option><option value="10">群馬県</option>
    <option value="11">埼玉県</option><option value="12">千葉県</option><option value="13">東京都</option><option value="14">神奈川県</option><option value="15">新潟県</option>
    <option value="16">富山県</option><option value="17">石川県</option><option value="18">福井県</option><option value="19">山梨県</option><option value="20">長野県</option>
    <option value="21">岐阜県</option><option value="22">静岡県</option><option value="23">愛知県</option><option value="24">三重県</option><option value="25">滋賀県</option>
    <option value="26">京都府</option><option value="27">大阪府</option><option value="28">兵庫県</option><option value="29">奈良県</option><option value="30">和歌山県</option>
    <option value="31">鳥取県</option><option value="32">島根県</option><option value="33">岡山県</option><option value="34">広島県</option><option value="35">山口県</option>
    <option value="36">徳島県</option><option value="37">香川県</option><option value="38">愛媛県</option><option value="39">高知県</option><option value="40">福岡県</option>
    <option value="41">佐賀県</option><option value="42">長崎県</option><option value="43">熊本県</option><option value="44">大分県</option><option value="45">宮崎県</option>
    <option value="46">鹿児島</option><option value="47">沖縄県</option>
</select>
</div>
<div class="form-group">
<button id="select">グラフ表示</button>
</div>

<figure class="wrapper" id="a_here" style="height: 60%; width: 50%; float: left;">
    <!-- <canvas id="charta" width="150" height="100" ></canvas> -->
</figure>
<figure class="wrapper" id="b_here" style="height: 60%; width: 50%; float: left;">
    <!-- <canvas id="chartb" width="150" height="100" ></canvas> -->
</figure>


<!-- tableデータ -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="float: left;">
<button class="btn"  onclick="moreshow()">moreshow</button>
<button class="btn"  onclick="hideshow()">hideshow</button>
<table border="1" id="table">
</table>




<script>
    //データ設定
    let datatext = '<%-datatext1%>';
    let data =JSON.parse(datatext);
    let poptext = '<%-datatext2%>';
    let population = JSON.parse(poptext);
    console.log(population["00"].sum);

    //グラフ表示
    drawgraph2(data,$("#chart2"),'all','all');
    

    $("#select").click(function() {
        let value = $("input[name='select']:checked").val();
        console.log(value);
        if(value=='hidegraph'){
            $("#a_here").empty(); $("#b_here").empty(); 
        }else if(value=='gender'){
            $("#a_here").empty(); $("#b_here").empty(); 
            $("#a_here").append('<canvas id="charta" width="150" height="100" >'); 
            $("#b_here").append('<canvas id="chartb" width="150" height="100" >');
            drawgraph2(data,$("#charta"),'gender','M'); 
            drawgraph2(data,$("#chartb"),'gender','F');
        }else if(value=='age'){
            $("#a_here").empty(); $("#b_here").empty(); 
            $("#a_here").append('<canvas id="charta" width="150" height="100" >'); 
            $("#b_here").append('<canvas id="chartb" width="150" height="100" >');
            drawgraph2(data,$("#charta"),'age','-64'); 
            drawgraph2(data,$("#chartb"),'age','65-');
        }else if(value=='prefecture'){
            let prefec = $("select#prefec").val();
            console.log(prefec);
            $("#a_here").empty(); $("#b_here").empty(); 
            $("#a_here").append('<canvas id="charta" width="150" height="100" >'); 
            drawgraph2(data,$("#charta"),'prefecture',prefec); 

        }
    })


    //テーブル表示
    $("#table").append("<tr>");
    $("tr").last().append($("<td>").text('　　'));
    for (key in data[0]){$("tr").last().append($("<td>").text(key));}
    
    let sc = 0;
    function moreshow(){
        for(let i=0; i<5; i++){
            $("#table").append("<tr>");
            $("tr").last().append($("<td>").text(sc));
            for (key in data[sc]){$("tr").last().append($("<td>").text(data[sc][key]));}
            sc++;
        }
    }
    function hideshow(){
        sc = 0;
        $('#table').empty();
        $("#table").append("<tr>");
        $("tr").last().append($("<td>").text('　　'));
        for (key in data[0]){$("tr").last().append($("<td>").text(key));}
    }

    
</script>


<%-include('../confing/footer')%>