<%-include('../confing/header')%>


<div class="wrapper" style="height: 100%; width: 100%;">
    <canvas id="chart1" width="150" height="100" ></canvas>
</div>



<!-- tableデータ -->
<button class="btn"  onclick="moreshow()">moreshow</button>
<button class="btn"  onclick="hideshow()">hideshow</button>
<table border="1" id="table">
</table>



<script>
    //データ設定
    let datatext = '<%-datatext1%>';
    let data =JSON.parse(datatext);
    for (let i=0; i<3; i++){console.log(data[i]);}

    drawgraph1(data,$("#chart1"))
    
    //テーブル表示
    $("#table").append("<tr>");
    $("tr").last().append($("<td>").text('　　'));
    for (key in data[0]){$("tr").last().append($("<td>").text(key));}
    
    let sc = 0;
    function moreshow(){
        for(let i=0; i<5; i++){
            $("#table").append("<tr>");
            $("tr").last().append($("<td>").text(sc));
            for (key in data[sc]){$("tr").last().append($("<td>").text(data[sc][key]));}
            sc++;
        }
    }
    function hideshow(){
        sc = 0;
        $('#table').empty();
        $("#table").append("<tr>");
        $("tr").last().append($("<td>").text('　　'));
        for (key in data[0]){$("tr").last().append($("<td>").text(key));}
    }

    
</script>


<%-include('../confing/footer')%>